@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@import "tailwindcss";

@theme {
  --color-black: #1e1e1e;
  --color-gray: #a9a9a9;
  --color-blue: #0079ff;
}

body {
  font-family: "Pretendard Variable";
}
